<!--<link rel="import" href="../bower_components/polymer/polymer.html">-->
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<!--<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">-->
<link rel="import" href="shared-styles.html">

<dom-module id="candidate-view">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }

            /*.heading {
                padding: 10px 15px;
                margin-top: 20px;
                background-color: #f3f3f3;
                border: 1px solid #dedede;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                font-size: 18px;
                cursor: pointer;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                width: 100%;
                text-align: left;
            }

            .addCandidate {
                margin-top: 20px;
            }

            .form paper-input {
                flex: 1;
            }

            .form vaadin-date-picker {
                width: 140 px;
            }
            
            .form paper-button {
                align-self: flex-end;
            }

            .collapse-content {
                padding: 15px;
                border: 1px solid #dedede;
            }*/
        </style>
        <div class="form"> 
            <paper-input label="First Name" value="Text"></paper-input>
        </div>        
    </template>
    
    <script>
        Polymer({
            is: 'candidate-view'

            // properties: {
            //     candidate: {
            //         type: Object,
            //         value: function() {
            //             return {};
            //         }
            //     },
            //     candidates: {
            //         type: Array,
            //         value: function() {
            //             return [];
            //         }
            //     }
            // },

            // _addCandidate: function() {
            //     this.push('candidates', this.candidate);
            //     this.candidate = {};
            // },

            // initializeStorage: function() {
            //     this.candidates = [];
            // },

            // togglePersonalData: function() {
            //     this.$.collapsePersonalData.toggle();
            // },

            // toggleContactInformation: function() {
            //     this.$.collapseComtactInformation.toggle();
            // },

            // toggleExperience: function() {
            //     this.$.collapseExperience.toggle();
            // }
        });
    </script>
</dom-module>