<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .heading {
        padding: 10px 15px;
        margin-top: 20px;
        background-color: #f3f3f3;
        border: 1px solid #dedede;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 100%;
        text-align: left;
      }

      .addCandidate {
        margin-top: 20px;
      }

      .vaadin-grid {
        margin-top: 20px;
      }

      .form paper-input {
        flex: 1;
      }

      .form vaadin-date-picker {
        width: 140 px;
      }
      
      .form paper-button {
        align-self: flex-end;
      }

      .collapse-content {
        padding: 15px;
        border: 1px solid #dedede;
      }
    </style>

    <div class="card">                  
        <div class="form">  
          <button on-click="togglePersonalData" class="heading">Personal Data</button>
          <iron-collapse id="collapsePersonalData" opened="true">              
            <div>
              <paper-input label="First Name" value="{{candidate.firstName}}"></paper-input>
              <paper-input label="Last Name" value="{{candidate.lastName}}"></paper-input>
              <vaadin-date-picker label="Date" value="{{candidate.date}}"></vaadin-date-picker>              
            </div>
          </iron-collapse>                        
          <button on-click="toggleContactInformation" class="heading">Contact Information</button>
          <iron-collapse id="collapseComtactInformation">
            <div>Contact Information</div>
          </iron-collapse>              
          <button on-click="toggleExperience" class="heading">Exoerience</button>
          <iron-collapse id="collapseExperience">
            <div>Experience</div>
          </iron-collapse>              
          <div class="addCandidate">
            <paper-button raised on-tap="_addCandidate">Add Candidate</paper-button>
          <div>
        </div>      

      <vaadin-grid items="{{candidates}}" class="vaadin-grid">
        <table>
          <colgroup>
            <col name="firstName">
            <col name="lastName">
            <col name="date">
          </colgroup>
        </table>
      </vaadin-grid>
    </div>
    
    <iron-localstorage name="candidates" value="{{candidates}}" on-iron-localstorage-load-empty="initializeStorage"></iron-localstorage>
    
  </template>

  <script>
    Polymer({
      is: 'my-view1',

      properties: {
        candidate: {
          type: Object,
          value: function() {
            return {};
          }
        },
        candidates: {
          type: Array,
          value: function() {
            return [];
          }
        }
      },

      _addCandidate: function() {
        this.push('candidates', this.candidate);
        this.candidate = {};
      },

      initializeStorage: function() {
        this.candidates = [];
      },

      togglePersonalData: function() {
        this.$.collapsePersonalData.toggle();
      },

      toggleContactInformation: function() {
        this.$.collapseComtactInformation.toggle();
      },

      toggleExperience: function() {
        this.$.collapseExperience.toggle();
      }
    });
  </script>
</dom-module>
