<dom-module id="simple-element">
  <template>
    <style>
      /* local styles go here */
      :host {
        display: inline-block;
      }
    </style>

    <!-- local DOM goes here -->
    <span>Not much here yet.</span>
  </template>
  <script>
      Polymer({
          /* this is the element's prototype */
          is: 'simple-element'
      });
  </script>
</dom-module>